In [ ]:
import wbgapi as wb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import geopandas as gpd

WBGAPI provides modern, pythonic access to the World Bank's data API. It is designed both for data novices and data scientist types.

In [2]:
# ! pip install wbgapi

In [86]:
# Load the country shapefile as a GeoDataFrame:
shapes = gpd.read_file('../ne_10m_admin_0_countries.zip')
shapes = shapes.rename(columns={'ADMIN': 'name'})
shapes = shapes[['SOV_A3', 'name', 'geometry']]
shapes

,SOV_A3,name,geometry
0,IDN,Indonesia,"MULTIPOLYGON (((117.70361 4.16341, 117.70361 4..."
1,MYS,Malaysia,"MULTIPOLYGON (((117.70361 4.16341, 117.69711 4..."
2,CHL,Chile,"MULTIPOLYGON (((-69.51009 -17.50659, -69.50611..."
3,BOL,Bolivia,"POLYGON ((-69.51009 -17.50659, -69.51009 -17.5..."
4,PER,Peru,"MULTIPOLYGON (((-69.51009 -17.50659, -69.63832..."
...,...,...,...
253,CH1,Macao S.A.R,"MULTIPOLYGON (((113.55860 22.16303, 113.56943 ..."
254,AU1,Ashmore and Cartier Islands,"POLYGON ((123.59702 -12.42832, 123.59775 -12.4..."
255,BJN,Bajo Nuevo Bank (Petrel Is.),"POLYGON ((-79.98929 15.79495, -79.98782 15.796..."
256,SER,Serranilla Bank,"POLYGON ((-78.63707 15.86209, -78.64041 15.864..."
257,SCR,Scarborough Reef,"POLYGON ((117.75389 15.15437, 117.75569 15.151..."

In [63]:
df_country_region = pd.DataFrame(wb.economy.list())
df_country_region.head()

,id,value,aggregate,longitude,latitude,region,adminregion,lendingType,incomeLevel,capitalCity
0,ABW,Aruba,False,-70.0167,12.51670,LCN,,LNX,HIC,Oranjestad
1,AFE,Africa Eastern and Southern,True,NaN,NaN,,,,,
2,AFG,Afghanistan,False,69.1761,34.52280,SAS,SAS,IDX,LIC,Kabul
3,AFW,Africa Western and Central,True,NaN,NaN,,,,,
4,AGO,Angola,False,13.2420,-8.81155,SSF,SSA,IBD,LMC,Luanda

In [62]:
regions = df_country_region[df_country_region['aggregate'] == True]
regions.head()

,id,value,aggregate,longitude,latitude,region,adminregion,lendingType,incomeLevel,capitalCity
1,AFE,Africa Eastern and Southern,True,NaN,NaN,,,,,
3,AFW,Africa Western and Central,True,NaN,NaN,,,,,
7,ARB,Arab World,True,NaN,NaN,,,,,
36,CEB,Central Europe and the Baltics,True,NaN,NaN,,,,,
49,CSS,Caribbean small states,True,NaN,NaN,,,,,

In [75]:
df_country =  df_country_region[df_country_region['aggregate'] == False]
df_country.head()

,id,value,aggregate,longitude,latitude,region,adminregion,lendingType,incomeLevel,capitalCity
0,ABW,Aruba,False,-70.0167,12.51670,LCN,,LNX,HIC,Oranjestad
2,AFG,Afghanistan,False,69.1761,34.52280,SAS,SAS,IDX,LIC,Kabul
4,AGO,Angola,False,13.2420,-8.81155,SSF,SSA,IBD,LMC,Luanda
5,ALB,Albania,False,19.8172,41.33170,ECS,ECA,IBD,UMC,Tirane
6,AND,Andorra,False,1.5218,42.50750,ECS,,LNX,HIC,Andorra la Vella

In [140]:
df_country_shape = df_country.merge(shapes, left_on='value', right_on='name', how='left')
df_country_shape[:25]

,id,value,aggregate,longitude,latitude,region,adminregion,lendingType,incomeLevel,capitalCity,SOV_A3,name,geometry
0,ABW,Aruba,False,-70.01670,12.51670,LCN,,LNX,HIC,Oranjestad,NL1,Aruba,"POLYGON ((-69.99694 12.57758, -69.93639 12.531..."
1,AFG,Afghanistan,False,69.17610,34.52280,SAS,SAS,IDX,LIC,Kabul,AFG,Afghanistan,"POLYGON ((74.54235 37.02167, 74.54742 37.01567..."
2,AGO,Angola,False,13.24200,-8.81155,SSF,SSA,IBD,LMC,Luanda,AGO,Angola,"MULTIPOLYGON (((13.07370 -4.63532, 13.06533 -4..."
3,ALB,Albania,False,19.81720,41.33170,ECS,ECA,IBD,UMC,Tirane,ALB,Albania,"POLYGON ((20.56715 41.87318, 20.54172 41.86158..."
4,AND,Andorra,False,1.52180,42.50750,ECS,,LNX,HIC,Andorra la Vella,AND,Andorra,"POLYGON ((1.70701 42.50278, 1.69750 42.49446, ..."
5,ARE,United Arab Emirates,False,54.37050,24.47640,MEA,,LNX,HIC,Abu Dhabi,ARE,United Arab Emirates,"MULTIPOLYGON (((56.27906 25.62745, 56.30030 25..."
6,ARG,Argentina,False,-58.41730,-34.61180,LCN,LAC,IBD,UMC,Buenos Aires,ARG,Argentina,"MULTIPOLYGON (((-67.19390 -22.82222, -67.14269..."
7,ARM,Armenia,False,44.50900,40.15960,ECS,ECA,IBD,UMC,Yerevan,ARM,Armenia,"MULTIPOLYGON (((45.00240 41.29045, 45.03940 41..."
8,ASM,American Samoa,False,-170.69100,-14.28460,EAS,,LNX,HIC,Pago Pago,US1,American Samoa,"MULTIPOLYGON (((-170.59101 -14.26483, -170.576..."
9,ATG,Antigua and Barbuda,False,-61.84560,17.11750,LCN,,IBD,HIC,Saint John's,ATG,Antigua and Barbuda,"MULTIPOLYGON (((-61.88362 17.04902, -61.87922 ..."
10,AUS,Australia,False,149.12900,-35.28200,EAS,,LNX,HIC,Canberra,AU1,Australia,"MULTIPOLYGON (((131.53590 -31.60556, 131.34555..."
11,AUT,Austria,False,16.37980,48.22010,ECS,,LNX,HIC,Vienna,AUT,Austria,"POLYGON ((16.94504 48.60417, 16.95434 48.55740..."
12,AZE,Azerbaijan,False,49.89320,40.38340,ECS,ECA,IBD,UMC,Baku,AZE,Azerbaijan,"MULTIPOLYGON (((44.97946 41.08204, 45.01888 41..."
13,BDI,Burundi,False,29.36390,-3.37840,SSF,SSA,IDX,LIC,Bujumbura,BDI,Burundi,"POLYGON ((30.55460 -2.40063, 30.52148 -2.44228..."
14,BEL,Belgium,False,4.36761,50.83710,ECS,,LNX,HIC,Brussels,BEL,Belgium,"POLYGON ((2.52180 51.08754, 2.54200 51.09687, ..."
15,BEN,Benin,False,2.63230,6.47790,SSF,SSA,IDX,LMC,Porto-Novo,BEN,Benin,"POLYGON ((3.59640 11.69577, 3.57439 11.67304, ..."
16,BFA,Burkina Faso,False,-1.53395,12.36050,SSF,SSA,IDX,LIC,Ouagadougou,BFA,Burkina Faso,"POLYGON ((2.39017 11.89654, 2.35410 11.79985, ..."
17,BGD,Bangladesh,False,90.41130,23.70550,SAS,SAS,IDX,LMC,Dhaka,BGD,Bangladesh,"MULTIPOLYGON (((92.57588 21.97757, 92.59024 21..."
18,BGR,Bulgaria,False,23.32380,42.71050,ECS,,IBD,HIC,Sofia,BGR,Bulgaria,"POLYGON ((26.33336 41.71304, 26.29491 41.71032..."
19,BHR,Bahrain,False,50.53540,26.19210,MEA,,LNX,HIC,Manama,BHR,Bahrain,"MULTIPOLYGON (((50.55161 26.19424, 50.59474 26..."
20,BHS,"Bahamas, The",False,-77.33900,25.06610,LCN,,LNX,HIC,Nassau,NaN,NaN,None
21,BIH,Bosnia and Herzegovina,False,18.42140,43.86070,ECS,ECA,IBD,UMC,Sarajevo,BIH,Bosnia and Herzegovina,"POLYGON ((17.65333 42.89094, 17.65284 42.89118..."
22,BLR,Belarus,False,27.57660,53.96780,ECS,ECA,IBD,UMC,Minsk,BLR,Belarus,"POLYGON ((23.60624 51.51740, 23.60231 51.53078..."
23,BLZ,Belize,False,-88.77130,17.25340,LCN,LAC,IDB,UMC,Belmopan,BLZ,Belize,"MULTIPOLYGON (((-89.19314 16.39263, -89.18435 ..."
24,BMU,Bermuda,False,-64.70600,32.32930,NAC,,LNX,HIC,Hamilton,GB1,Bermuda,"MULTIPOLYGON (((-64.67610 32.38866, -64.64763 ..."

In [ ]:
for index, row in df_country_shape.iterrows():
    if pd.isna(row['name']):        
        # Ensure idx is a single row, not a DataFrame
        idx = shapes.loc[shapes['SOV_A3'] == row['id']]
        
        if not idx.empty:  # Check if a match is found
            df_country_shape.loc[index, ['name', 'geometry']] = idx.iloc[0][['name', 'geometry']]

df_country_shape

,id,value,aggregate,longitude,latitude,region,adminregion,lendingType,incomeLevel,capitalCity,SOV_A3,name,geometry
0,ABW,Aruba,False,-70.01670,12.51670,LCN,,LNX,HIC,Oranjestad,NL1,Aruba,"POLYGON ((-69.99694 12.57758, -69.93639 12.531..."
1,AFG,Afghanistan,False,69.17610,34.52280,SAS,SAS,IDX,LIC,Kabul,AFG,Afghanistan,"POLYGON ((74.54235 37.02167, 74.54742 37.01567..."
2,AGO,Angola,False,13.24200,-8.81155,SSF,SSA,IBD,LMC,Luanda,AGO,Angola,"MULTIPOLYGON (((13.07370 -4.63532, 13.06533 -4..."
3,ALB,Albania,False,19.81720,41.33170,ECS,ECA,IBD,UMC,Tirane,ALB,Albania,"POLYGON ((20.56715 41.87318, 20.54172 41.86158..."
4,AND,Andorra,False,1.52180,42.50750,ECS,,LNX,HIC,Andorra la Vella,AND,Andorra,"POLYGON ((1.70701 42.50278, 1.69750 42.49446, ..."
5,ARE,United Arab Emirates,False,54.37050,24.47640,MEA,,LNX,HIC,Abu Dhabi,ARE,United Arab Emirates,"MULTIPOLYGON (((56.27906 25.62745, 56.30030 25..."
6,ARG,Argentina,False,-58.41730,-34.61180,LCN,LAC,IBD,UMC,Buenos Aires,ARG,Argentina,"MULTIPOLYGON (((-67.19390 -22.82222, -67.14269..."
7,ARM,Armenia,False,44.50900,40.15960,ECS,ECA,IBD,UMC,Yerevan,ARM,Armenia,"MULTIPOLYGON (((45.00240 41.29045, 45.03940 41..."
8,ASM,American Samoa,False,-170.69100,-14.28460,EAS,,LNX,HIC,Pago Pago,US1,American Samoa,"MULTIPOLYGON (((-170.59101 -14.26483, -170.576..."
9,ATG,Antigua and Barbuda,False,-61.84560,17.11750,LCN,,IBD,HIC,Saint John's,ATG,Antigua and Barbuda,"MULTIPOLYGON (((-61.88362 17.04902, -61.87922 ..."
10,AUS,Australia,False,149.12900,-35.28200,EAS,,LNX,HIC,Canberra,AU1,Australia,"MULTIPOLYGON (((131.53590 -31.60556, 131.34555..."
11,AUT,Austria,False,16.37980,48.22010,ECS,,LNX,HIC,Vienna,AUT,Austria,"POLYGON ((16.94504 48.60417, 16.95434 48.55740..."
12,AZE,Azerbaijan,False,49.89320,40.38340,ECS,ECA,IBD,UMC,Baku,AZE,Azerbaijan,"MULTIPOLYGON (((44.97946 41.08204, 45.01888 41..."
13,BDI,Burundi,False,29.36390,-3.37840,SSF,SSA,IDX,LIC,Bujumbura,BDI,Burundi,"POLYGON ((30.55460 -2.40063, 30.52148 -2.44228..."
14,BEL,Belgium,False,4.36761,50.83710,ECS,,LNX,HIC,Brussels,BEL,Belgium,"POLYGON ((2.52180 51.08754, 2.54200 51.09687, ..."
15,BEN,Benin,False,2.63230,6.47790,SSF,SSA,IDX,LMC,Porto-Novo,BEN,Benin,"POLYGON ((3.59640 11.69577, 3.57439 11.67304, ..."
16,BFA,Burkina Faso,False,-1.53395,12.36050,SSF,SSA,IDX,LIC,Ouagadougou,BFA,Burkina Faso,"POLYGON ((2.39017 11.89654, 2.35410 11.79985, ..."
17,BGD,Bangladesh,False,90.41130,23.70550,SAS,SAS,IDX,LMC,Dhaka,BGD,Bangladesh,"MULTIPOLYGON (((92.57588 21.97757, 92.59024 21..."
18,BGR,Bulgaria,False,23.32380,42.71050,ECS,,IBD,HIC,Sofia,BGR,Bulgaria,"POLYGON ((26.33336 41.71304, 26.29491 41.71032..."
19,BHR,Bahrain,False,50.53540,26.19210,MEA,,LNX,HIC,Manama,BHR,Bahrain,"MULTIPOLYGON (((50.55161 26.19424, 50.59474 26..."
20,BHS,"Bahamas, The",False,-77.33900,25.06610,LCN,,LNX,HIC,Nassau,NaN,The Bahamas,"MULTIPOLYGON (((-72.99957 21.45171, -73.03366 ..."
21,BIH,Bosnia and Herzegovina,False,18.42140,43.86070,ECS,ECA,IBD,UMC,Sarajevo,BIH,Bosnia and Herzegovina,"POLYGON ((17.65333 42.89094, 17.65284 42.89118..."
22,BLR,Belarus,False,27.57660,53.96780,ECS,ECA,IBD,UMC,Minsk,BLR,Belarus,"POLYGON ((23.60624 51.51740, 23.60231 51.53078..."
23,BLZ,Belize,False,-88.77130,17.25340,LCN,LAC,IDB,UMC,Belmopan,BLZ,Belize,"MULTIPOLYGON (((-89.19314 16.39263, -89.18435 ..."
24,BMU,Bermuda,False,-64.70600,32.32930,NAC,,LNX,HIC,Hamilton,GB1,Bermuda,"MULTIPOLYGON (((-64.67610 32.38866, -64.64763 ..."

In [143]:
df_country_shape

,id,value,aggregate,longitude,latitude,region,adminregion,lendingType,incomeLevel,capitalCity,SOV_A3,name,geometry
0,ABW,Aruba,False,-70.0167,12.51670,LCN,,LNX,HIC,Oranjestad,NL1,Aruba,"POLYGON ((-69.99694 12.57758, -69.93639 12.531..."
1,AFG,Afghanistan,False,69.1761,34.52280,SAS,SAS,IDX,LIC,Kabul,AFG,Afghanistan,"POLYGON ((74.54235 37.02167, 74.54742 37.01567..."
2,AGO,Angola,False,13.2420,-8.81155,SSF,SSA,IBD,LMC,Luanda,AGO,Angola,"MULTIPOLYGON (((13.07370 -4.63532, 13.06533 -4..."
3,ALB,Albania,False,19.8172,41.33170,ECS,ECA,IBD,UMC,Tirane,ALB,Albania,"POLYGON ((20.56715 41.87318, 20.54172 41.86158..."
4,AND,Andorra,False,1.5218,42.50750,ECS,,LNX,HIC,Andorra la Vella,AND,Andorra,"POLYGON ((1.70701 42.50278, 1.69750 42.49446, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,XKX,Kosovo,False,20.9260,42.56500,ECS,ECA,IDX,UMC,Pristina,KOS,Kosovo,"POLYGON ((20.06496 42.54676, 20.07705 42.55991..."
213,YEM,"Yemen, Rep.",False,44.2075,15.35200,MEA,MNA,IDX,LIC,Sana'a,NaN,Yemen,"MULTIPOLYGON (((51.97861 18.99564, 51.98569 18..."
214,ZAF,South Africa,False,28.1871,-25.74600,SSF,SSA,IBD,UMC,Pretoria,ZAF,South Africa,"MULTIPOLYGON (((19.98145 -24.75249, 19.98641 -..."
215,ZMB,Zambia,False,28.2937,-15.39820,SSF,SSA,IDX,LMC,Lusaka,ZMB,Zambia,"POLYGON ((32.92086 -9.40790, 32.92303 -9.46629..."
216,ZWE,Zimbabwe,False,31.0672,-17.83120,SSF,SSA,IDB,LMC,Harare,ZWE,Zimbabwe,"POLYGON ((25.25978 -17.79411, 25.26671 -17.800..."

In [ ]:
countries_wb = df_country_region['id'][df_country_region['aggregate'] == False].tolist()

countries_LCN = df_country_region['id'][df_country_region['region'] == 'LCN'].tolist()
countries_LCN

['ABW',
 'ARG',
 'ATG',
 'BHS',
 'BLZ',
 'BOL',
 'BRA',
 'BRB',
 'CHL',
 'COL',
 'CRI',
 'CUB',
 'CUW',
 'CYM',
 'DMA',
 'DOM',
 'ECU',
 'GRD',
 'GTM',
 'GUY',
 'HND',
 'HTI',
 'JAM',
 'KNA',
 'LCA',
 'MAF',
 'MEX',
 'NIC',
 'PAN',
 'PER',
 'PRI',
 'PRY',
 'SLV',
 'SUR',
 'SXM',
 'TCA',
 'TTO',
 'URY',
 'VCT',
 'VEN',
 'VGB',
 'VIR']

In [31]:
gdp_df = wb.data.DataFrame('NY.GDP.PCAP.CD', countries_LCN)

# # Filter columns to include only those with data from 1960 onwards
# gdp_df = gdp_df.loc[:, gdp_df.loc['YR1960'].notna()]
# gdp_df

In [32]:
gdp_df

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022,YR2023
economy,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26129.839062,27458.225331,27441.529662,28440.051964,30082.127645,31096.205074,22855.932320,27200.061079,30559.533535,33984.790620
ARG,NaN,NaN,1160.306598,852.972425,1176.200862,1281.833380,1275.078434,1063.932838,1141.952116,1329.561818,...,12233.144412,13679.626498,12699.962314,14532.500931,11752.799892,9955.974787,8535.599380,10738.017922,13935.681111,14187.482725
ATG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15533.483125,16080.658050,16557.843175,16924.789449,18273.427068,18884.372968,15360.454416,17340.379069,20117.765331,21787.101732
BHS,1459.253539,1555.046304,1651.218295,1759.236577,1883.443491,2029.523016,2239.239640,2452.747632,2668.014980,3026.727572,...,28705.617084,30289.402251,30266.585922,31337.183246,32124.405106,32979.540128,25155.672543,28682.327000,33044.388209,35896.505107
BLZ,307.414508,320.029477,331.704794,341.932584,356.235408,383.186435,411.933020,426.264071,392.282566,401.557991,...,6128.142885,6154.495935,6142.498732,6072.582676,6031.281396,6190.047923,5227.193638,6122.611586,7068.454783,7459.998151
BOL,100.815083,107.443478,115.079060,121.353277,133.876179,145.587113,157.754998,174.312743,193.516557,205.054759,...,3041.435031,2996.012898,3035.873478,3306.303012,3500.726422,3503.896011,3099.942190,3384.844865,3643.928270,3686.279965
BRA,235.266010,231.564063,250.200573,294.169619,257.259727,268.028761,328.343792,351.472600,373.925433,399.498419,...,12274.993969,8936.196618,8836.286526,10080.509282,9300.661649,9029.833267,7074.193783,7972.536650,9281.333344,10294.866681
BRB,346.575457,366.135499,377.438456,420.504389,413.625432,433.228680,462.028452,508.128571,505.889066,566.833205,...,19277.942360,18954.291372,19065.806980,19692.760671,20055.915871,20583.726579,18347.110913,18696.785895,22164.026027,23804.024991
CHL,504.087277,580.102457,662.733476,644.892060,674.490140,677.767796,780.096923,754.896175,755.892553,863.569490,...,14529.676721,13433.920299,13649.852046,14879.908623,15659.480868,14495.716722,13114.815471,16216.570647,15451.131958,17067.813615
COL,258.304434,282.099441,298.543862,282.588330,338.675935,317.064563,290.253386,302.832508,301.526503,317.868798,...,8187.208249,6248.514905,5959.842504,6479.532313,6816.968183,6472.545449,5339.687114,6222.621644,6674.596019,6947.359287
CRI,382.309122,355.844448,335.221589,345.505369,353.710897,373.835690,395.152498,413.996506,444.805257,477.081347,...,10911.497878,11714.710598,12091.030161,12317.090277,12590.249378,12884.685995,12394.049397,12838.118536,13625.900849,16942.026812
CUB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7146.704591,7727.919972,8110.558740,8610.608295,8911.462060,9232.261159,9605.261251,NaN,NaN,NaN
CUW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19623.029993,19361.813001,18944.096149,18938.244047,19119.124394,19220.686696,16356.093359,17980.088840,20501.752278,22192.445303
CYM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,75845.306041,76379.209511,77802.254157,80053.944451,83865.553157,88254.290368,82338.798285,86438.445257,92202.147803,97749.507896
DMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7395.302597,7679.832936,8278.447686,7614.340280,8137.565206,9009.090115,7461.779332,8262.650913,9085.674128,9832.996431
DOM,205.731510,193.908989,236.814700,262.186358,277.297158,233.160574,250.876692,256.206597,259.574438,287.699306,...,6512.507714,6819.932252,7174.823496,7499.692862,7934.981412,8164.220809,7162.291752,8472.479820,10109.523400,10717.627671
ECU,450.776317,371.395176,312.435410,364.743594,435.763463,450.049783,444.623112,453.645286,445.227989,520.843985,...,6405.799793,5976.159681,5917.637713,6233.322448,6303.918925,6205.057595,5463.645096,6075.802657,6540.998245,6609.804082
GRD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7986.334212,8694.124380,9221.234611,9751.426612,10083.021279,10462.792916,8968.558901,9622.240505,10474.265289,11246.345123
GTM,256.813115,257.202151,265.210652,284.397504,284.197970,282.977642,287.277849,291.934181,314.666876,326.302733,...,3689.144725,3893.505218,4060.137556,4324.996079,4352.946518,4511.997552,4477.617618,4913.947129,5358.089638,5762.821746
GUY,299.074646,319.017755,327.392579,288.820390,313.261162,335.735937,352.589675,377.732622,339.786441,361.187616,...,5472.688205,5640.415606,5870.878238,6178.665044,6048.386972,6405.824434,6775.709391,9860.872334,17913.491015,20765.350359
HND,162.774119,167.920492,177.698729,182.727079,197.847917,213.974088,224.767457,237.468674,249.435319,250.160207,...,2179.881720,2271.202660,2307.344684,2413.007656,2464.642415,2502.327443,2307.614943,2735.147515,3003.289968,3231.657245
HTI,70.802445,68.990565,70.446462,72.398349,78.452016,83.633251,85.749374,84.217268,82.405772,86.126980,...,1460.188986,1411.126847,1318.402682,1395.239452,1496.380490,1352.172042,1290.325387,1835.443941,1760.626357,1705.779055
JAM,423.674098,447.057274,458.313998,480.336500,514.416511,549.493560,612.210364,633.259681,591.045817,642.133421,...,4975.113270,5062.895565,5009.794501,5259.313341,5578.103461,5607.243007,4879.440246,5165.337810,6022.153411,6839.725039
KNA,221.584586,225.599128,230.286541,240.139617,256.404715,265.823194,289.973109,344.457119,309.027410,346.592027,...,20219.395424,20328.800353,21387.541551,22464.989963,22901.381640,23595.492323,18859.019036,18361.144970,21011.574421,22573.672479
LCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10044.821838,10334.922556,10638.190198,11333.196394,11642.740319,11794.205652,8411.199418,10459.132125,13103.762165,13554.665188
MAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20638.770588,NaN,NaN,NaN,NaN,19033.064963,NaN,21668.377653,NaN,NaN
MEX,355.075200,373.712217,388.456702,419.552066,480.704214,505.854419,544.935854,575.769038,615.922912,659.717507,...,11391.377350,10021.238612,9097.923977,9649.278168,10084.793756,10369.555357,8841.270750,10314.050674,11385.407076,13790.024343
NIC,127.483812,132.943507,142.303524,152.461498,172.681356,272.251263,283.999593,297.946066,304.441965,319.366650,...,1958.369665,2074.454465,2131.688285,2182.618751,2035.167501,1958.621329,1931.615158,2128.609806,2325.167379,2612.870662
PAN,477.037935,516.459862,545.570446,586.616688,611.100613,651.331375,688.846979,744.890928,778.476642,830.319753,...,13213.198964,14082.654850,14832.361161,15694.629745,16151.327348,16477.906629,13290.560835,15509.806911,17332.436074,18686.405096
PER,252.796783,276.641400,304.537818,324.107405,380.965457,438.990797,504.825949,497.584756,447.991797,487.660319,...,6667.134104,6231.711503,6217.036000,6736.166937,6978.491215,7037.008037,6133.325524,6826.972007,7363.272069,7906.585029
PRI,717.514843,777.215027,854.744805,931.751666,1006.434446,1110.832691,1207.811824,1335.274112,1480.693176,1661.866885,...,28981.457331,29763.488301,30627.163402,31108.752751,31615.066792,32916.866801,31427.429114,32619.250417,35268.079102,36779.059491
PRY,153.375217,167.092827,182.805194,189.872423,196.973356,208.729580,213.947608,220.930910,226.801978,238.242208,...,6652.254789,5879.337923,5775.159634,6152.267115,6258.449916,5821.181995,5365.472207,5976.931798,6205.625954,6276.351139
SLV,NaN,NaN,NaN,NaN,NaN,274.333279,282.446374,288.374280,290.096510,293.416581,...,3666.012489,3790.340891,3901.340150,4020.126714,4183.546210,4320.116715,3997.192796,4642.607431,5093.518339,5391.069262
SUR,377.579400,394.807747,409.105638,424.025532,434.893752,481.718750,574.841077,644.042967,680.595348,707.674445,...,9108.189054,8813.617054,5644.206106,6049.521286,6665.741805,6629.667752,4755.392217,5029.848385,6084.438767,5494.074094
SXM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37134.912423,37839.628382,37308.614780,34701.305849,31708.311012,34861.469529,30150.899838,32548.436685,36476.630083,38077.544487
TCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23996.291013,25736.101625,26946.417852,25779.612237,27160.157957,27273.437699,17452.657805,23114.790212,26802.067375,30348.811441
TTO,633.975608,677.713824,703.620804,756.284906,779.766015,793.357738,767.537871,796.703860,783.173634,794.529655,...,22074.426309,20024.754664,17521.800753,17720.497237,18076.356555,17431.026927,15224.508350,17912.510625,22004.199788,20016.150301
URY,491.031760,603.966513,659.393717,586.821192,744.654270,705.202528,668.176377,584.755304,578.548869,722.586255,...,18322.427677,17125.901680,17009.758694,19184.662666,19249.940153,18315.735286,15789.685742,17888.211510,20691.973899,22797.811173
VCT,154.839954,163.036742,166.501945,154.855790,164.439676,166.158518,174.900706,170.043233,163.084475,175.156220,...,7168.828753,7353.735561,7656.900429,7988.044450,8428.126772,8743.332021,8395.099889,8481.305374,9471.146273,10520.444153
VEN,939.197767,954.038331,1006.559408,1060.094332,873.604755,869.041068,875.956232,892.985316,938.015079,931.598756,...,15943.612720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VGB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33045.364380,34007.352941,35324.974887,35365.069304,36663.208755,38633.529892,39787.374165,42571.077737,44320.909186,NaN

In [41]:
gdf

,featurecla,scalerank,LABELRANK,SOVEREIGNT,SOV_A3,ADM0_DIF,LEVEL,TYPE,TLC,name,...,FCLASS_TR,FCLASS_ID,FCLASS_PL,FCLASS_GR,FCLASS_IT,FCLASS_NL,FCLASS_SE,FCLASS_BD,FCLASS_UA,geometry
0,Admin-0 country,0,2,Indonesia,IDN,0,2,Sovereign country,1,Indonesia,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((117.70361 4.16341, 117.70361 4..."
1,Admin-0 country,0,3,Malaysia,MYS,0,2,Sovereign country,1,Malaysia,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((117.70361 4.16341, 117.69711 4..."
2,Admin-0 country,0,2,Chile,CHL,0,2,Sovereign country,1,Chile,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((-69.51009 -17.50659, -69.50611..."
3,Admin-0 country,0,3,Bolivia,BOL,0,2,Sovereign country,1,Bolivia,...,None,None,None,None,None,None,None,None,None,"POLYGON ((-69.51009 -17.50659, -69.51009 -17.5..."
4,Admin-0 country,0,2,Peru,PER,0,2,Sovereign country,1,Peru,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((-69.51009 -17.50659, -69.63832..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,Admin-0 country,0,4,China,CH1,1,2,Country,1,Macao S.A.R,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((113.55860 22.16303, 113.56943 ..."
254,Admin-0 country,6,5,Australia,AU1,1,2,Dependency,1,Ashmore and Cartier Islands,...,None,None,None,None,None,None,None,None,None,"POLYGON ((123.59702 -12.42832, 123.59775 -12.4..."
255,Admin-0 country,6,8,Bajo Nuevo Bank (Petrel Is.),BJN,0,2,Indeterminate,1,Bajo Nuevo Bank (Petrel Is.),...,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,"POLYGON ((-79.98929 15.79495, -79.98782 15.796..."
256,Admin-0 country,6,5,Serranilla Bank,SER,0,2,Indeterminate,1,Serranilla Bank,...,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,"POLYGON ((-78.63707 15.86209, -78.64041 15.864..."
257,Admin-0 country,6,6,Scarborough Reef,SCR,0,2,Indeterminate,1,Scarborough Reef,...,None,None,None,None,None,None,None,None,None,"POLYGON ((117.75389 15.15437, 117.75569 15.151..."