In [4]:
import numpy as np
import pandas as pd
from matplotlib import dates as mpl_dates
date_format = mpl_dates.DateFormatter('%d-%b\n%Y')

To download the information into the data folder

In [1]:
!wget -c https://www.cpc.ncep.noaa.gov/data/indices/oni.ascii.txt -P ../data/

--2025-03-09 08:02:44--  https://www.cpc.ncep.noaa.gov/data/indices/oni.ascii.txt
Resolving www.cpc.ncep.noaa.gov (www.cpc.ncep.noaa.gov)... 140.90.101.19
Connecting to www.cpc.ncep.noaa.gov (www.cpc.ncep.noaa.gov)|140.90.101.19|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22550 (22K) [text/plain]
Saving to: ‘../data/oni.ascii.txt’

oni.ascii.txt       100%[===================>]  22,02K  --.-KB/s    in 0,09s

2025-03-09 08:02:44 (252 KB/s) - ‘../data/oni.ascii.txt’ saved [22550/22550]

The Oceanic Niño Index (ONI) dataset from NOAA’s Climate Prediction Center provides three-month running mean sea surface temperature (SST) anomalies in the Niño 3.4 region (5°N-5°S, 120°W-170°W). This dataset is commonly used to monitor **El Niño** and **La Niña** events.

**Interpretation:**
* **El Niño:** ONI ≥ +0.5°C for five consecutive overlapping seasons.
* **La Niña:** ONI ≤ -0.5°C for five consecutive overlapping seasons.
* **Neutral:** ONI between -0.5°C and +0.5°C.

In [28]:
enso_data = '../data/oni.ascii.txt'

df_enso = pd.read_csv(enso_data, delimiter='  ',
                      engine='python', skiprows=1, header=None,
                      skipinitialspace=True, names=['season', 'value', 'anomaly'])

dates_expanded = df_enso['season'].str.split(" ", expand=True,)
season_month = {'DJF': 1, 'JFM': 2, 'FMA': 3, 'MAM': 4, 'AMJ': 5, 'MJJ': 6,
             'JJA': 7, 'JAS': 8, 'ASO': 9, 'SON': 10, 'OND': 11, 'NDJ': 12}

dates = pd.date_range('{0}-{1}-01'.format
                       (dates_expanded.iloc[0, 1],
                        season_month[dates_expanded.iloc[0, 0]]),
                       '{0}-{1}-01'.format(dates_expanded.iloc[-1, 1],
                                           season_month[
                           dates_expanded.iloc[-1, 0]]),
                       freq='MS')
df_enso['date'] = dates
df_enso

       season  value  anomaly       date
0    DJF 1950  24.72    -1.53 1950-01-01
1    JFM 1950  25.17    -1.34 1950-02-01
2    FMA 1950  25.75    -1.16 1950-03-01
3    MAM 1950  26.12    -1.18 1950-04-01
4    AMJ 1950  26.32    -1.07 1950-05-01
..        ...    ...      ...        ...
896  ASO 2024  26.55    -0.21 2024-09-01
897  SON 2024  26.45    -0.26 2024-10-01
898  OND 2024  26.30    -0.37 2024-11-01
899  NDJ 2024  26.09    -0.53 2024-12-01
900  DJF 2025  25.99    -0.64 2025-01-01

[901 rows x 4 columns]